@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    --main-color: white;
    --accent-color: orange;
    --background-dark: #181818;
    --background-darkest: #010101;
    --text: 1rem;
    --title-small: 1.5rem;
    --title-medium: 2.5rem;
    --title-large: 4 rem;
}

:root {
    font-family: Poppins, sans-serif;
}

body {
    max-width: 1024px;
    margin: auto;
    background-color: var(--background-darkest);
    color: var(--main-color);
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

#banner {
    background-color: var(--background-darkest);
    background-image: url("../img/banner.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 255px 0 250px 0;
    margin-top: -10px;
}

header {
    background-color: var(--background-darkest);
}

.services{
    width: inherit;
    height: content-box;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    align-items: center;
}

.service {
    background-color: var(--background-dark);
    padding: 5% 5% 7% 5%;
}
 
.service h3 {
    margin: 0 0 15px 0;
}


.service-center {
    background-color: var(--background-darkest);
}

.section-title {
    margin-top: 25px;
    text-align: center;
}

.types{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: inherit;
}

.item-bikes {
    width: 32%;
    padding: 1%;
    text-align: left;
}

.icon {
    width: 25vw;
    max-width: 150px;
    height: auto;
}

.image-triple {
    width: 95%;
    height: auto;
    margin: 20px 0 20px 0;
}

.price {
    display: block;
    margin: 30px 0 30px 0;
}

.accent-color {
    color: var(--accent-color);
}
 
.bold {
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

article button {
    padding: 3% 5% 3% 5%;
    background-color: var(--background-darkest);
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
}

.background-picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    text-align: center;
    font-size: var(--title-medium);
    font-weight: 800;
    padding: 100px 0 100px 0;
    align-items: center;
}

.tag-along {
    flex: 1;
    background-image: url("../img/tag-along.webp");
}

.bicycle-trailer {
    flex: 1;
    background-image: url("../img/bicycle_trailer.webp");
}

.baby-seat {
    flex: 1;
    background-image: url("../img/baby_seat.webp");
}

