@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    --main-color: white;
    --accent-color: orange;
    --background-darkest: #181818;
    --text: 1rem;
    --title-small: 1.5rem;
    --title-medium: 2.5rem;
    --title-large: 4 rem;
}

.control-width {
    width: 980px;
    justify-content: center;
}

:root {
    font-family: Poppins, sans-serif;
}

.person-photo{
    border-radius: 50%;
}

body {
    background-color: var(--background-darkest);
    color: var(--main-color);
/*    display: flex;
    flex-direction: row;
    justify-content: center; */
}

.icon {
    width: 25vw;
    max-width: 150px;
    height: auto;
}

#banner {
    background-color: var(--background-darkest);
    background-image: url("../img/banner.webp");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 255px 0 250px 0;
    margin-top: -10px;
}

.services{
    width: 100vw;
    height: content-box;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.service {

    padding: 5% 5% 7% 5%;
}

.service h3 {
    margin: 0 0 15px 0;
}

#types{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
}
/*
body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-color);
    background-color: var(--background-darkest);
}

.accent-color {
    color: var(--accent-color);
}

img {
    max-width: 100vw;
    height: auto;
}

.icon {
    width: 25vw;
    max-width: 150px;
    height: auto;
}

h1, h2, h3  {
    font-weight: 800;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #010101;
    padding-top: 1.5vw;
}

nav a {
    padding: 1vw;
    text-decoration: none;
    flex-shrink: 1;
    color: var(--main-color);
}

nav a:hover {
    color: var(--accent-color);
    font-weight: 500;
}

#title {
    text-align: left;
    font-size: 100%;
    font-weight: 300;
}

#banner {
    background-color: var(--background-darkest);
    background-image: url("../img/banner.webp");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 255px 0 250px 0;
    margin-top: -10px;
}

#banner-title {
    font-size: 3rem;
    line-height: 1;
}

.services{
    width: 100vw;
    height: content-box;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.service {

    padding: 5% 5% 7% 5%;
}

.service h3 {
    margin: 0 0 15px 0;
}

.service-center {
    background-color: #101010;
}

#types{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
}

.section {
    margin: 50px 0 20px 0;
}

h3 {
    font-size: 1.5rem;
}

 */
