body {
    background-color: #181818;
    font-family: Poppins, Tahoma, sans-serif;
    font-weight: 300;
    width: 1280px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --main-color: white;
    color: var(--main-color);
}

.icon {
    color: var(--main-color);
    width: 150px;
}

h1, h2, h3  {
    font-family: Poppins, Tahoma, sans-serif;
    font-weight: 800;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #010101;
}

nav a {
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: var(--main-color);
}

#title {
    font-size: 100%;
    font-family: Poppins, Tahoma, sans-serif;
    font-weight: 300;
}

#banner {
    background-color: #010101;
    background-image: url("../img/banner.webp");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 255px 0 250px 0;
    margin-top: -10px;
}

#banner-title {
    font-size: 3rem;
    line-height: 1;
}

.services{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.service {
    padding: 2% 5% 2% 5%;
}

.service h3 {
    margin: 0 0 15px 0;
}

.service-center {
    background-color: #101010;
}