@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    --main-color: white;
    --accent-color: #ff8a43;
    --background-grey: #969696;
    --background-medium: #525151;
    --background-dark: #181818;
    --background-darkest: #010101;
    --text: 1rem;
    --title-small: 1.5rem;
    --title-medium: 2.5rem;
    --title-large: 4 rem;
}

:root {
    font-family: Poppins, sans-serif;
}

body {
    max-width: 1024px;
    margin: auto;
    background-color: var(--background-darkest);
    color: var(--main-color);
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

#banner {
    background-color: var(--background-darkest);
    background-image: url("../img/banner.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 255px 0 250px 0;
    margin-top: -10px;
}

header {
    background-color: var(--background-darkest);
}

.services{
    width: inherit;
    height: content-box;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    align-items: center;
}

.service {
    background-color: var(--background-dark);
    padding: 5% 5% 7% 5%;
}
 
.service h3 {
    margin: 0 0 15px 0;
}


.service-center {
    background-color: var(--background-darkest);
}

.section-title {
    margin-top: 25px;
    text-align: center;
}

.types{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: inherit;
}

.item-bikes {
    width: 32%;
    padding: 1%;
    text-align: left;
}

.icon {
    width: 25vw;
    max-width: 150px;
    height: auto;
}

.image-triple {
    width: 95%;
    height: auto;
    margin: 20px 0 20px 0;
}

.price {
    display: block;
    margin: 30px 0 30px 0;
}

.accent-color {
    color: var(--accent-color);
}
 
.bold {
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

article button {
    padding: 3% 5% 3% 5%;
    background-color: var(--background-darkest);
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
}

.background-picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    text-align: center;
    font-size: var(--title-medium);
    font-weight: 800;
    padding: 100px 0 100px 0;
    align-items: center;
}

.tag-along {
    flex: 1;
    background-image: url("../img/tag-along.webp");
}

.bicycle-trailer {
    flex: 1;
    background-image: url("../img/bicycle_trailer.webp");
}

.baby-seat {
    flex: 1;
    background-image: url("../img/baby_seat.webp");
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

.icon-small {
    width: 65px;
}

.side-image {
   width: 75%;
}

#accessories {
    margin: 25px 0 25px 0;
}

.bicycle-repairs {
    display: grid;
    display: grid;
    grid-template-columns: auto auto;
}

footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 50px 0 0 15px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
    margin: 1px;
    margin: 0 5px 0 0;
}

footer a:hover {
    color: var(--accent-color);
    font-weight: 600;
}

.svg-color {
    fill: var(--accent-color);

}

.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.person-photo{
    width: 100px;
    border-radius: 50%;
}

.horizontal-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: fit-content;
    align-items: center;
}

.icon-plus-text {
    font-display: grid;
    grid-template-columns: 20% 80%;
}

.bicycle-repairs {
    text-align: justify;
}

table {
    width: 100%;
    text-align: center;
    
}

.top {
    border-top: 1px solid var(--main-color);
}

td, th {
    padding: 7.5px 0 7.5px 0;
}

#rent {
    width: 70%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: var(--background-medium);
    padding: 20px 0 20px 0;
}

input {
    display: block;
    margin: 10px auto 10px auto;
    width: 60%;
    background-color: var(--background-grey);
    padding: 5px;
    color: var(--main-color);
    
}

.accent-button {
    background-color: var(--accent-color);
}

::-webkit-input-placeholder {
    color: var(--main-color);
}

